  <!-- Content Row-->
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Facebook</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.facebook.com/profile.php?id=100009161892954">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Instagram</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.youtube.com/channel/UC5drLOgAVAowtnfXgiGbH1g">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Card Three</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.youtube.com/channel/UC5drLOgAVAowtnfXgiGbH1g">More Info</a></div>
        </div>
    </div>
    <div class="card text-white my-5 py-4 text-center">
        <div class="center">
            <video width="320" height="240" controls style="align-content:center;">
           <source src="G:/movies/Bahubali 2 hd movie Telugu.mp4" type="video/mp4" />
                Your browser does not support video tag
            </video>
        </div>
    </div>
    <div class="card-body" id="youtube">
        <p class="text-white m-0" style="font-size: x-large; text-align: center;">
        <a href="https://www.youtube.com/channel/UC5drLOgAVAowtnfXgiGbH1g" ><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/youtube.jpg">
        <br><h4>check out youtube channel</h4>
        </a></p>
    </div>
</div>
